.idea/
.idea/misc.xml
.idea/modules.xml
.idea/pythonGalacTest.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/graphics.cpython-37.pyc
.idea/workspace.xml
.idea/TestEco.iml
.idea/TestEco.iml
.idea/workspace.xml
